<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{static/css/style.css}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>


<body class="page">

  <header class="page-header">
    <div class="page_layout">
      <div class="page-header__container">
        <a class="page_header__logo" href="index.html">
          <svg class="page_header__logo-img" width="70" height="21"></svg>
        </a>
        <nav class="page-header__nav" id="navbar">
          <ul class="page-header__site-list site-list">
            <li class="site-list__item"><a class="site-list__button" href="/">Назад</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="patient-page">
    <section class="reg-block">
      <div class="reg-block__container">
        <h1 class="reg-block__title title">Новый пациент</h1>
        <form th:action="@{/patient}" method="post" th:object="${patient}">
          <ul class="reg-form__list" >
            <li class="reg-form__item"><input class="field" name="surname" placeholder="Фамилия" type="text" required/></li>
            <li class="reg-form__item"><input class="field" name="name" placeholder="Имя" type="text" required></li>
            <li class="reg-form__item"><input class="field" name="patronymic" placeholder="Отчество" type="text" required></li>
            <li class="reg-form__item"><input class="field" name="SNILS" placeholder="СНИЛС" type="text" required></li>
            <li  class="reg-form__item--time">Дата рождения: <input name="birthDate" type="date" required></li>
            <input class="button" type="submit" value="Добавить">
            <input class="button" type="reset" value="Сбросить"></p>
          </ul>
        </form>
      </div>
    </section>
  </main>
</body>
</html>
