
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"        xmlns:th="https://www.thymeleaf.org"

xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started: Handling Form Submission</title>
    <link rel="stylesheet" th:href="@{static/css/style.css}">

    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

</head>
<body class="page">
<header class="page-header">
    <div class="page_layout">
        <div class="page-header__container">
            <a class="page_header__logo" href="index.html">
                <svg class="page_header__logo-img" width="70" height="21"></svg>

            </a>
            <nav class="page-header__nav" id="navbar">
            </nav>
        </div>
    </div>
</header>


<main class="main-page">
    <!-- <div class="page_layout"> -->
    <section class="main-block">
        <div class="main-block__container">
            <h1 class="main-block__title title">Добро пожаловать! </h1>

            <fieldset class="main-form__container">
                <legend>Войдите или зарегистрируйтесь:</legend>
                <form class="main-form__form" th:action="@{/login}" method="post">
                    <input class="field" type="text" placeholder="Ваше имя" name="username" required>
                    <input class="field" type="password" placeholder="Ваш пароль" name="password" required>

                    <div><input class="button" type="submit" value="Вход"/></div>
                    <a class="button button--reg" href="/registration">Регистрация</a>

                    <div th:if="${param.error}">
                        Неверное имя пользователя или пароль
                    </div>
                    <div th:if="${param.logout}">
                        Вы вышли из аккаунта
                    </div>
                </form>
            </fieldset>

        </div>
    </section>
</main>
</body>

</html>