
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Getting Started: Handling Form Submission</title>
    <link rel="stylesheet" th:href="@{static/css/style.css}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

</head>
<body class="page">
<div th:if="${param.error}">
    Неверное имя пользователя или пароль
</div>
  <header class="page-header">
    <div class="page_layout">
      <div class="page-header__container">
        <a class="page_header__logo" href="index.html">
          <svg class="page_header__logo-img" width="70" height="21"></svg>

        </a>
        <nav class="page-header__nav" id="navbar">
        </nav>
      </div>
    </div>
  </header>


  <main class="main-page">
    <!-- <div class="page_layout"> -->
      <section class="main-block">
        <div class="main-block__container">
          <h1 class="main-block__title title">Добро пожаловать! </h1>

          <fieldset class="main-form__container">
              <legend>Войдите или зарегистрируйтесь:</legend>

              <!--/*@thymesVar id="user" type="ru.fedorova.vaccination.model.entity.User"*/-->
              <form class="main-form__form" th:action="@{/login}" th:object="${user}" method="post">
                  <input class="field" type="text" th:field="*{name}" placeholder="Ваше имя" required>
                  <input class="field" type="password" th:field="*{password}" placeholder="Ваш пароль" required>
                  <!-- <a class="button" href="/user">Вход</a> -->
                  <div><input class="button" type="submit" value="Вход"/></div>
                  <a class="button button--reg" href="/registration">Регистрация</a>
              </form>
          </fieldset>

          </div>
        </section>
  </main>
</body>

</html>
